* {
  margin: 0;
}

.app > img {
  width: 100%;
  display: block;
}

.app__content {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 1.58;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__right {
  margin-top: 0;
  background-color: #e5e5e5;
  flex: 1;
}
.app__zopnik {
  /* margin-top: 80px;
  width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__zopnik > img {
  margin-top: 50px;
  width: 90%;
}
.app__welcome {
  text-align: center;
  margin-top: 50px;
  color: #eb4034;
}
.app__leftText {
  text-align: center;
  margin-top: 20vh;
  color: #333232;
}

.app__leftLogo {
  margin-top: 100px;
  width: 400px;
}

@media only screen and (max-width: 886px) {
  .app__right {
    width: 38%;
  }
  .app__left {
    width: 60%;
  }
  .app__leftLogo {
    width: 200px;
  }
}
